#seePlate {
  .seePlate_top {
    width: 420px;
    display: flex;
    position: absolute;
    left: 500px;
    top: 80px;
    .item {
      flex: 1;
      background: url("../../assets/ownpic/title_bg1.png") center center
        no-repeat;
      background-size: 100% 100%;
      color: $theme-color;
      font-size: 17px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      text-align: center;
    }

    .acitve {
      color: #f15f42;
      background: url("../../assets/ownpic/title_bg2.png") center center
        no-repeat;
      background-size: 100% 100%;
    }
  }
  .seePlate_content {
    z-index: 1000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
  }
}
